<div class="rounded-lg shadow-md bg-white p-5">
    <h2 class="text-xl font-sans font-bold"><span class="text-transparent bg-clip-text bg-gradient-to-br from-yellow-400 to-orange-500">Tell the duck about your code</span></h2>
    <br>
    <div>
        <textarea id="inputText" class="w-full bg-gray-50 p-2 rounded-md font-mono" placeholder="Put your explanation here"></textarea>
        <br><br>
        <button id="send-message" class="rounded-md bg-gradient-to-br from-yellow-400 to-orange-500 p-2 pl-4 pr-4 text-white">Send</button>
    </div>   
</div>

<script>
    // import the monaco editor
    import type { Console } from 'console'
    import * as monaco from 'monaco-editor'

    // Grab the text input and the text in the monaco editor
    let textInput = document.getElementById('inputText') as HTMLInputElement
    let codeText = monaco.editor.getModels()[0].getValue()

    // Add an event listener to the send button
    document.getElementById('send-message')!.addEventListener('click', () => {
        fetch('/api/completion', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                text: textInput.value,
                code: codeText,
            }),
        });

        // Log that the message was sent
        console.log('Message sent')
        console.log('Text: ' + textInput.value)
        console.log('Code: ' + codeText)
    })
</script>