<div id="container" class="rounded-lg shadow-lg overflow-hidden h-[70%]"></div>

<script>
    /* import monaco editor */
    import * as monaco from 'monaco-editor/esm/vs/editor/editor.api.js';

    const text = 
    `function hello() {
    alert('Hello world!');
}`;

    // Hover on each property to see its docs!
    monaco.editor.create(document.getElementById("container") as HTMLElement, {
        value: text,
        language: "none",
        automaticLayout: true,
    });

    export {text};

</script>